<div id="bg">
  <img src="src/rubyImage.png" alt="">
</div>
<div class="header">
  <ul>
    <li><a href="default.asp">Refresh</a></li>
  </ul>
</div>
<div class="scraperBody">
  <div style="text-align:left">
    <h1>
      {{ title }}
    </h1>
    <h3>
      Search for tests using keyword(s)
    </h3>
  </div>
  <div>
    <table>
      <div class="row">
        <div class="col-md-6">
          <div class="form">
            <input class="form-control" type="search" id="search1" aria-label="Search" placeholder="search">
            <label for="search1"></label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form">
            <input class="form-control" type="search" id="search2" aria-label="Search" placeholder="search">
            <label for="search2"></label>
          </div>
        </div>
      </div>
    </table>
    <button (click)="sendKeywordsToScraper()">Scrape Tests</button>
  </div>
  <div class="form">
    <h3> Results from Keyword Test Scrape </h3>
    <div class="col-md-6">
      <div class="form">
        <input class="form-control-results" type="search" id="results" aria-label="results-field" placeholder="Results...">
      </div>
    </div>
  </div>
  <button class="copyButton" (click)="copyTestResults()">Copy Results</button>
</div>
<div class="footer">
  <footer>
    Scraper Footer
  </footer>
</div>
<router-outlet></router-outlet>


