* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.scraper-base {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 89vh;
  margin: 0px auto;
}

.header {
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  color: white;
  text-align: center;
  display: inline;
  background-image: url("src/mcImage.png"), linear-gradient(to right, #3b94a3, #c33894);
}

img {
  vertical-align: middle;
  width: 80px;
  margin-top: -48px;
  border: 0;
  position: fixed;
  right: 25px;
  top: 48px;
}

.scraper-body {
  background-color: rgba(173, 216, 230, 0.53);
  background-image: url("src/rubyImage2.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: -8px;
  padding: 40px;
  min-height: 100%;
}

h1 {
  padding-top: 10px;
}

.col-md-6 {
  padding-bottom: 5px;
}

a {
  width: 100%;
  display: block;
  color: white;
  text-align: left;
  padding-left: 35px;
  padding-top: 16px;
  padding-bottom: 15px;
  /*text-decoration: none;*/
}

button {
  border-radius: 15px;
  border: 2px solid #C53494;
  background-color: #3B94A3;
  cursor: pointer;
  color: white;
  font-style: normal;
  height: 30px;
  width: 120px;
}

button:hover {
  box-shadow: 0 2px 2px 0 rgb(197, 52, 148), 0 2px 2px 0 rgba(0,0,0,0.20);
}

.footer {
  position: fixed;
  padding: 14px 16px;
  overflow: hidden;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  display: block;
}

